In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20210824', periods=6)
dates

DatetimeIndex(['2021-08-24', '2021-08-25', '2021-08-26', '2021-08-27',
               '2021-08-28', '2021-08-29'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-08-24  0.735292  2.028247  1.183924  0.431805
2021-08-25 -0.462085 -0.377598  0.624194 -0.263522
2021-08-26  1.338015 -0.291916 -0.855423 -1.611366
2021-08-27  2.071388 -0.982899  1.275743  0.571827
2021-08-28 -0.275111 -0.523806 -0.567789 -0.543647
2021-08-29 -0.231374 -2.545185 -0.763348 -0.119575

In [7]:
df2 = pd.DataFrame(
    {
        'A' : 1.0,
        'B' : pd.Timestamp('20210824'),
        'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
        'D' : np.array([3] * 4, dtype='int32'),
        'E' : pd.Categorical(['test', 'train', 'test', 'train']),
        'F' : 'foo',
    }
)
df2

     A          B    C  D      E    F
0  1.0 2021-08-24  1.0  3   test  foo
1  1.0 2021-08-24  1.0  3  train  foo
2  1.0 2021-08-24  1.0  3   test  foo
3  1.0 2021-08-24  1.0  3  train  foo

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df.to_numpy()

array([[ 0.73529185,  2.02824671,  1.18392412,  0.43180492],
       [-0.46208491, -0.3775984 ,  0.62419386, -0.26352243],
       [ 1.33801518, -0.29191589, -0.85542303, -1.61136633],
       [ 2.07138829, -0.98289874,  1.27574323,  0.57182688],
       [-0.27511136, -0.52380605, -0.56778852, -0.54364668],
       [-0.2313738 , -2.54518494, -0.76334847, -0.11957525]])

In [10]:
df2.to_numpy()

array([[1.0, Timestamp('2021-08-24 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2021-08-24 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2021-08-24 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2021-08-24 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.529354 -0.448860  0.149550 -0.255746
std    1.027914  1.473171  0.992115  0.786994
min   -0.462085 -2.545185 -0.855423 -1.611366
25%   -0.264177 -0.868126 -0.714458 -0.473616
50%    0.251959 -0.450702  0.028203 -0.191549
75%    1.187334 -0.313337  1.043992  0.293960
max    2.071388  2.028247  1.275743  0.571827

In [13]:
df.T

   2021-08-24  2021-08-25  2021-08-26  2021-08-27  2021-08-28  2021-08-29
A    0.735292   -0.462085    1.338015    2.071388   -0.275111   -0.231374
B    2.028247   -0.377598   -0.291916   -0.982899   -0.523806   -2.545185
C    1.183924    0.624194   -0.855423    1.275743   -0.567789   -0.763348
D    0.431805   -0.263522   -1.611366    0.571827   -0.543647   -0.119575

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-08-24  0.431805  1.183924  2.028247  0.735292
2021-08-25 -0.263522  0.624194 -0.377598 -0.462085
2021-08-26 -1.611366 -0.855423 -0.291916  1.338015
2021-08-27  0.571827  1.275743 -0.982899  2.071388
2021-08-28 -0.543647 -0.567789 -0.523806 -0.275111
2021-08-29 -0.119575 -0.763348 -2.545185 -0.231374

In [16]:
df.sort_values(by='B')

                   A         B         C         D
2021-08-29 -0.231374 -2.545185 -0.763348 -0.119575
2021-08-27  2.071388 -0.982899  1.275743  0.571827
2021-08-28 -0.275111 -0.523806 -0.567789 -0.543647
2021-08-25 -0.462085 -0.377598  0.624194 -0.263522
2021-08-26  1.338015 -0.291916 -0.855423 -1.611366
2021-08-24  0.735292  2.028247  1.183924  0.431805

In [17]:
df['A']

2021-08-24    0.735292
2021-08-25   -0.462085
2021-08-26    1.338015
2021-08-27    2.071388
2021-08-28   -0.275111
2021-08-29   -0.231374
Freq: D, Name: A, dtype: float64

In [19]:
df[0:3]

                   A         B         C         D
2021-08-24  0.735292  2.028247  1.183924  0.431805
2021-08-25 -0.462085 -0.377598  0.624194 -0.263522
2021-08-26  1.338015 -0.291916 -0.855423 -1.611366

In [20]:
df['20210824':'20210827']

                   A         B         C         D
2021-08-24  0.735292  2.028247  1.183924  0.431805
2021-08-25 -0.462085 -0.377598  0.624194 -0.263522
2021-08-26  1.338015 -0.291916 -0.855423 -1.611366
2021-08-27  2.071388 -0.982899  1.275743  0.571827

In [21]:
df.loc[dates[0]]

A    0.735292
B    2.028247
C    1.183924
D    0.431805
Name: 2021-08-24 00:00:00, dtype: float64

In [22]:
df.loc[:, ['A', 'B']]

                   A         B
2021-08-24  0.735292  2.028247
2021-08-25 -0.462085 -0.377598
2021-08-26  1.338015 -0.291916
2021-08-27  2.071388 -0.982899
2021-08-28 -0.275111 -0.523806
2021-08-29 -0.231374 -2.545185