In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import pymysql
import time

driver = webdriver.Chrome()
url ='https://www.naver.com/'
driver.get(url)
time.sleep(3)

word = '코로나 현황'
input_search = driver.find_elements_by_css_selector('input.input_text')[0]
input_search.send_keys(word)
input_search.submit()
time.sleep(3)

search = driver.find_element_by_xpath('//*[@id="_cs_production_type"]/div/div[4]/div/div[1]/div/div/div/ul/li[1]/a').click()
time.sleep(3)

soup = BeautifulSoup(driver.page_source, 'html.parser')

In [3]:
# Crawling 단계
cumulative_confirmed_cases = soup.select('div.inner_box > div.local_info')
print(len(cumulative_confirmed_cases))
print(cumulative_confirmed_cases[0].select('p.population_number')[0].text)
print(cumulative_confirmed_cases[0].select('strong')[0].text[:2])

20
5,738
검역

In [4]:
cumulative_confirmed_data = []
for data in cumulative_confirmed_cases:
    area = data.select('strong')[0].text[:2].strip()
    population = data.select('p.population_number')[0].text.strip()
    cumulative_confirmed_data.append([area, population])
cumulative_confirmed_data

[['검역', '5,738'],
 ['제주', '2,494'],
 ['서울', '76,245'],
 ['인천', '11,305'],
 ['광주', '3,920'],
 ['광주', '3,920'],
 ['경북', '6,802'],
 ['부산', '10,999'],
 ['대구', '13,192'],
 ['강원', '5,242'],
 ['경기', '68,158'],
 ['전남', '2,479'],
 ['충북', '4,953'],
 ['충남', '6,547'],
 ['충남', '6,547'],
 ['대전', '5,413'],
 ['세종', '944'],
 ['전북', '3,396'],
 ['경남', '9,615'],
 ['울산', '3,997']]

In [5]:
columns = ['Area', 'Population']

pd_cumulative_confirmed_data = pd.DataFrame(cumulative_confirmed_data, columns=columns)
pd_cumulative_confirmed_data

   Area Population
0    검역      5,738
1    제주      2,494
2    서울     76,245
3    인천     11,305
4    광주      3,920
5    광주      3,920
6    경북      6,802
7    부산     10,999
8    대구     13,192
9    강원      5,242
10   경기     68,158
11   전남      2,479
12   충북      4,953
13   충남      6,547
14   충남      6,547
15   대전      5,413
16   세종        944
17   전북      3,396
18   경남      9,615
19   울산      3,997

## Excel에 저장하기

In [6]:
pd_cumulative_confirmed_data.to_excel('C:/Users/ChangHo Kim/Documents/GitHub/SSAC_study/Mini Project 1/pd_cumulative_confirmed_data.xlsx', index = False)

## MySQL에 저장하기

In [7]:
# 필요시 sqlalchemy 설치
# conda install -c conda-forge sqlalchemy
# !pip install sqlalchemy --user
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import MySQLdb

In [9]:
engine = create_engine("mysql+mysqldb://Mini_1:"+"1q2w3e4r!!"+"@127.0.0.1:3306/miniprojectdb",\
                        encoding='utf-8')
conn = engine.connect()

pd_cumulative_confirmed_data.to_sql(name='cumulative_confirmed_data', con=engine,\
                                    if_exists='append')

conn.close()