# 1차원 배열
## 10818번 최소, 최대
- N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [ ]:
T = int(input())
a = [int(i) for i in input().split()]

print(min(a), max(a))

5
1 2 3 4 5

[1, 2, 3, 4, 5]

## 2562번 최댓값
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

In [ ]:
import sys

l = []

for k in sys.stdin:
  l.append(int(k))


for i, j in enumerate(l):
  if max(l) == j:
    print(j, i+1, sep='\n')

85
8

## 2577번 숫자의 개수

세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

In [ ]:
import sys

l1 = []
l2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
x = 1


for i in sys.stdin:
  l1.append(int(i))

# a = [150, 21, 510]
# # 260100


for y in l1:
  x *= y

for j in str(x):
  for k in range(10):
    if k == int(j):
      l2[k] += 1

for m in l2:
  print(m)

3
1
1
0
0
0
1
0
0
0