# 1차원 배열
## 10818번 최소, 최대
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

In [ ]:
T = int(input())
a = [int(i) for i in input().split()]

print(min(a), max(a))

5
1 2 3 4 5

[1, 2, 3, 4, 5]

## 2562번 최댓값
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

In [ ]:
import sys

l = []

for k in sys.stdin:
  l.append(int(k))


for i, j in enumerate(l):
  if max(l) == j:
    print(j, i+1, sep='\n')

85
8

## 2577번 숫자의 개수

세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

In [ ]:
import sys

l1 = []
l2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
x = 1

for i in sys.stdin:
  l1.append(int(i))

# a = [150, 21, 510]
# # 260100

for y in l1:
  x *= y

for j in str(x):
  for k in range(10):
    if k == int(j):
      l2[k] += 1

for m in l2:
  print(m)

3
1
1
0
0
0
1
0
0
0

## 3052번 나머지
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

In [12]:
import sys

count = 0
l1 = []
l2 = []

for i in sys.stdin:
    l1.append(int(i))

# l1 = [39, 40, 41, 42, 43, 44, 82, 83, 84, 85]

for i in l1:
    if i%42 not in l2:
        l2.append(i%42)
        count += 1
        
print(count)

6

## 1546번 평균
세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

In [ ]:
import sys

n = int(input())

data = list(map(int, sys.stdin.readline().split()))

print(sum(data)*100/max(data)/n)

## 8958번 OX퀴즈
"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

## 4344번 평균은 넘겠지
대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

In [55]:
import sys

n = int(sys.stdin.readline())

# l = [9, 100, 99, 98, 97, 96, 95, 94, 93, 91]
for i in range(n):
    count = 0
    l = list(map(int, sys.stdin.readline().split()))
    for j in l[1:]:
        if sum(l[1:])/l[0] < j:
            count += 1
    # print(l)
    print(f'{(count/l[0]*100):.3f}%')

55.556%
55.556%
55.556%